@import url("style/header.css");
@import url("style/banner.css");

:root{
    --cor-de-fundo: #f8e1e1;
    --branco: #ffffff;
    --laranja: #68036b;
    --azul-degrade: linear-gradient(97.54deg, #ce5f23 35.49%, #9118ee 165.37%);
    --fonte-principal: "Poppins";
}

body{
    background-color: var(--cor-de-fundo);
     font-family:var(--cor-de-fundo);
     font-size: 16px;
     font-weight: 400;
}